<h1><%= t('views.common.title_index', name: i18n_pluralize(Comment.model_name.human)) %></h1>

<div id="comments" class="index-items">
  <% comments.each do |comment| %>
    <div class="index-item">

      <nav class="page-nav">
        <% if comment.user == current_user %>
          <%= link_to t('views.common.edit', name: Comment.model_name.human.downcase), edit_comment_path(@comment) %> |
        <% end %>
        <% if comment.user == current_user %>
          <%= button_to t('views.common.destroy', name: Comment.model_name.human.downcase), @comment, method: :delete %>
        <% end %>
      </nav>
    </div>
  <% end %>
</div>

<nav class="page-nav">
    <%= link_to  t('views.common.new', name: Comment.model_name.human.downcase), new_comment_path %>
</nav>
