<h1><%= t('views.common.title.editing_item', item: Book.model_name.human) %></h1>

<%= render "form", book: @book %>

<br>

<nav class="page-nav">
  <%= link_to t('views.common.link.show_this_item', item: Book.model_name.human), @book %> |
  <%= link_to t('views.common.link.back_to_items', item: Book.model_name.human), books_path %>
</nav>
