<h1><%= t('common.title.new', model: Book.model_name.human) %></h1>

<%= render "form", book: @book %>

<br>

<nav class="page-nav">
   <%= link_to t('common.link.back', model: Book.model_name.human), books_path %>
</div>
