<h1><%= t('.title', model: Book.model_name.human) %></h1>

<%= render "form", book: @book %>

<br>

<nav class="page-nav">
   <%= link_to t('views.common.back', model: Book.model_name.human), books_path %>
</div>
